version: '3.9'
services:
  triton:
    image: nvcr.io/nvidia/tritonserver:24.10-trtllm-python-py3
    command: ["tritonserver", "--model-repository=/models"]
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

  sink-writer:
    image: python:3.11-slim
    command: ["sleep", "infinity"]
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"

  trtllm-builder:
    image: nvcr.io/nvidia/tritonserver:24.10-trtllm-python-py3
    command: ["sleep", "infinity"]
